body, h1, h2, p, input, select, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.App {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #555;
    margin: 20px 0;
}

input[type="text"],
input[type="number"],
select,
button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: calc(100% - 24px);
    font-size: 1rem;
    outline: none;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
button:focus {
    border-color: #007BFF;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.forecast-table {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.weather-card {
    background: #e7f0fd;
    border-radius: 8px;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 350px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.weather-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.weather-card p {
    margin: 10px 0;
    font-size: 1rem;
    color: #333;
}

@media (max-width: 600px) {
    .weather-card {
        width: calc(100% - 20px);
    }
}